.pText{
    max-width: 55vw;
    padding: 40px 0 0 175px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}
.all{
    display: flex;
    background: url("https://i.imgur.com/Elkm6r4.png");
    background-size: 100% 100%;
    height: 400px;
}
.text{
}
.buttons{
    position: relative;
    /* position: absolute; */
    left: 550px;
    bottom: 40px;

}
.button1,
.button2,
.button3,
.button4{
    border-radius: 15px;
    background: #5a3c1c;
    color: bisque;
    border: black;
    padding: 10px 15px;
    width:150px;
    font-size: 25px;
    position: absolute;
}
.button1{
    left: -500px;
    bottom: 200px;
}
.button2{
    left: -300px;
    bottom: 200px;
}
.button3{
    left: -500px;
    bottom: 100px;
}
.button4{
    left: -300px;
    bottom: 100px;
}