.battleDialogue{
    max-width: 55vw;
    padding: 100px 0 0 175px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    width: 550px;

}

.fading {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.battleText{
    display: flex;
    background: url("https://i.imgur.com/Elkm6r4.png");
    /* z-index: 2; */
    background-size: 100% 100%;
    height: 365px;
}
.buttons{
    position: relative;
    /* position: absolute; */
    /* right: 100px; */
    bottom: 40px;

}
.button1,
.button2,
.button3,
.button4{
    border-radius: 15px;
    background: green;
    border: black;
    padding: 10px 15px;
    width:150px;
    font-size: 25px;
    position: absolute;
}
.button1{
    right: 500px;
    bottom: 200px;
}
.button2{
    right: 300px;
    bottom: 200px;
}
.button3{
    right: 500px;
    bottom: 100px;
}
.button4{
    right: 300px;
    bottom: 100px;
}
