.battleDialogue{
    /* max-width: 55vw; */
    padding: 100px 0 0 40%;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    width: 550px;

}

.fading {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.battleText{
    display: flex;
    background: url("https://i.imgur.com/Elkm6r4.png");
    /* z-index: 2; */
    background-size: 100% 100%;
    height: 380px;
}
.battleButtons{
    /* position: relative; */
    position: absolute;
    /* right: 100px; */
    top: 450px;
    right: 120px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    /* flex-direction: row; */

}
.battleButton1,
.battleButton2,
.battleButton3,
.battleButton4{
    border-radius: 15px;
    background: #5a3c1c;
    color: bisque;
    border: black;
    padding: 10px 15px;
    width:150px;
    font-size: 25px;
    margin: 10px;
    
    /* position: absolute; */
}
/* .battleButton1{
    left: 950px;
    top: 100px;
}
.battleButton2{
    left: 1175px;
    top: 100px;
}
.battleButton3{
    left: 950px;
    top: 200px;
}
.battleButton4{
    left: 1175px;
    top: 200px;
} */

@media only screen and (max-width: 1050px){
    .battleDialogue{
        width: 450px;
    }
}

@media only screen and (max-width: 950px){
    .battleDialogue{
        padding-top: 35px;
        margin-left: 100px;
    } 
    .battleButtons{
        top: 550px;
        right: 0px;
        left: 225px;
    }
    .battleButton1,
    .battleButton2,
    .battleButton3,
    .battleButton4{
        margin: 7px 0;
    }
   }

@media only screen and (max-width: 725px){
   .battleDialogue{
       margin-left: 30px;
   }
   .battleButtons{
       left: 155px;
   }

}
@media only screen and (max-width: 650px){
    .battleButtons{
        top: 475px;
    }
    
}

@media only screen and (max-width: 600px){
    .battleDialogue{
        margin-left: 0px;
        padding-left: 150px;
    }
    .battleButtons{
        left: 95px;
    }
 
 }
@media only screen and (max-width: 530px){
    .battleDialogue{
        padding-left: 100px;
        width: 400px;
    }
    .battleButtons{
        left: 45px;
    }
 
 }
@media only screen and (max-width: 460px){
    .battleDialogue{
        padding-left: 60px ;
        width: 350px;
    }
    
    .battleButtons{
        width: 350px;
        left: 20px;
    }
    
}
@media only screen and (max-width: 400px){
    .battleDialogue{
        width: 300px;
    }
    /* .battleButtons{
        flex-direction: column;
        left: 100px;
    } */

    .battleButton1,
    .battleButton2,
    .battleButton3,
    .battleButton4{
        
        
    }
    
}


