.battleDialogue{
    max-width: 55vw;
    padding: 100px 0 0 175px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    width: 550px;

}

.fading {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.battleText{
    display: flex;
    background: url("https://i.imgur.com/Elkm6r4.png");
    /* z-index: 2; */
    background-size: 100% 100%;
    height: 365px;
}
.battleButtons{
    /* position: relative; */
    position: absolute;
    /* right: 100px; */
    bottom: 40px;
    right: 20px;

}
.battleButton1,
.battleButton2,
.battleButton3,
.battleButton4{
    border-radius: 15px;
    background: #5a3c1c;
    color: bisque;
    border: black;
    padding: 10px 15px;
    width:150px;
    font-size: 25px;
    position: absolute;
}
.battleButton1{
    right: 250px;
    bottom: 200px;
}
.battleButton2{
    right: 50px;
    bottom: 200px;
}
.battleButton3{
    right: 250px;
    bottom: 100px;
}
.battleButton4{
    right: 50px;
    bottom: 100px;
}
