.charContain{
    position: relative;
}


.choose{
    position: absolute;
    top: 600px;
    left: 275px;
    background: green;
    border: 2px solid;
    box-shadow: 0 0 15px black;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    
}
.sprite{
    /* padding-left: 100px; */
     position: absolute;
     
     left: 85px;
     max-height: 200px;
     min-height: 200px;
     z-index: 3;
    
 }

 .testText{
     position: absolute;
     right: -40px;
     top: 300px;
     z-index: 3;
     color: white;
 }