.charContain{
    display: flex;
    flex-direction: column;
    
}


.choose{
    /* position: absolute;
    top: 600px;
    left: 275px; */
    /* margin: auto; */
    margin-left: 42% ;
    margin-top: 20px;
    justify-content: center;
    height: 50px;
    background: #5a3c1c;
    color: bisque;
    border: 1px black solid;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    
}
.sprite{
    /* padding-left: 100px; */
    margin: auto;
     max-height: 550px;
     min-height: 550px;
     z-index: 3;
    
 }

