/* button:focus {
    outline: 0;
} */

.navbar .dropdown-menu .form-control {
    width: 200px;
    
}

.landingImg{
    margin-top: -35px;
    margin-right: -50px;
    background: url("https://i.imgur.com/VW2izVa.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* min-height: 800px;
    min-width: 1560px; */
    height: 104.5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    /* margin:auto; */
    margin-top:10%;
    width: 475px;
    max-width: 475px;
    background:url("https://i.imgur.com/0XoMcjD.png");
    background-size: 100% 100%;
    /* position: absolute;
    top: 50px;
    left: 500px; */
}

.jumboContain{
    padding: 30px;
    text-align: center;
}
.call2Action{
    font-weight: bold;
    font-size: 20px;
}
.playBtn {
    margin: auto;
    background: #5a3c1c;
    border: none;
    width: 300px;
}
.playBtn:hover{
    background: #5a3c1c;
    border: 1pt solid black;
}