body{
    font-family: Papyrus;
}

.container-signup {
    max-width: 475px;
    margin:auto;

}
.needs-validation{
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background: aliceblue;
    
}
.signup-box{
    margin:auto;
    padding-top:15%;
    padding-bottom: 30%;
    background: url(https://i.imgur.com/57TTWUF.png) no-repeat;
    font-family: Papyrus;

}

