.highcontain{
    background: url("https://i.imgur.com/57TTWUF.png");
    margin: 0;
    width: 100vw;

}
.scoreTitle{
    position: absolute;
    top: 100px;
    left: 130px;
}

.scoreContain{
    background: url("https://i.imgur.com/0XoMcjD.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 750px;
    margin:auto;
    position: relative;
}  
.scoreName{
    position: absolute;
    top: 130px;
    left: 45px;
}
.scoreScore{
    position: absolute;
    top: 130px;
    left: 185px;
}
.homeBtn{
    position: absolute;
    top: 575px;
    left: 125px;
    max-width: 150px;
    background: #5a3c1c;
    color: bisque;
    border: none;
    border-radius: 10px;
}